# *.env
# **/*/__pycache__
# **/*/node_modules
# **/*/env
# .venv/
# #root

# /env
# /__pycache__
# ---------------------------------------
# ENVIRONMENT / PACKAGES
# ---------------------------------------
.venv/
env/
venv/
ENV/

# ---------------------------------------
# PYTHON BYTECODE & CACHE
# ---------------------------------------
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# ---------------------------------------
# NODE MODULES
# ---------------------------------------
node_modules/
**/node_modules/

# ---------------------------------------
# SENSITIVE FILES
# ---------------------------------------
*.env
*.key
*.pem
*.crt
*.pfx

# ---------------------------------------
# OS / EDITOR FILES
# ---------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# LOGS
# ---------------------------------------
*.log

# ---------------------------------------
# JUPYTER NOTEBOOK CHECKPOINTS
# ---------------------------------------
.ipynb_checkpoints

# ---------------------------------------
# VSCODE
# ---------------------------------------
.vscode/

# ---------------------------------------
# BUILD / DIST FILES
# ---------------------------------------
dist/
build/
